In [81]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime
import matplotlib.pyplot as plt

# Serie temporali

Le date in pandas sono rappresentate con la classe Timestamp. <br>
Per creare una serie temporale (in cui gli indici sono quindi date) spesso si usa un particolare oggetto della libreria chiamato DatetimeIndex: questo oggetto è utilizzato in maniera specifica per formattare e utilizzare delle date come indici di una serie. <br>
__PER CAPIRE__: una serie (creata con l'oggetto Series di Pandas) che prende in ingresso un insieme di dati e un oggetto DatetimeIndex che ne definisce gli indici può essere considerata una _serie temporale_.

In [82]:
dates = [datetime(2014,8,1), datetime(2014,8,2)]
dti = pd.DatetimeIndex(dates)
dti

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [83]:
np.random.seed(123456)
ts = pd.Series(np.random.randn(2), dates) # prima si passano i dati, poi i nomi degli indici
ts

2014-08-01    0.469112
2014-08-02   -0.282863
dtype: float64

In [84]:
type(ts.index) # serve a capire quale tipologia di dato è presente su una colonna

pandas.core.indexes.datetimes.DatetimeIndex

Per accedere ai valori di una serie temporale è possibile utilizzare la data sia in forma datetime che sotto forma di stringa.

In [114]:
ts.loc['2014-08-02']

-0.2828633443286633

In [85]:
ts[datetime(2014,8,2)]

-0.2828633443286633

In [86]:
ts['2014-08-02']

-0.2828633443286633

In [87]:
np.random.seed(123456)

In [88]:
dates = ['2014-08-01', '2014-08-02']
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01    0.469112
2014-08-02   -0.282863
dtype: float64

Con il metodo `to_datetime` è possibile convertire delle stringhe in oggetti datetime (specificando il formato con cui le stringhe sono espresse).

In [115]:
dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None], format='mixed')
dti

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

Di default Pandas riconosce il mese come primo valore; se il primo valore è il giorno occorre imporre la condizione dayfirst = True.

In [117]:
dti1 = pd.to_datetime(['8/1/2014'])
dti2 = pd.to_datetime(['1/8/2014'], dayfirst = True)
dti1[0], dti2[0]

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-01 00:00:00'))

Mediante il comando `date_range` è possibile creare un oggetto DatetimeIndex formato da uno specifico numero di date.

In [90]:
np.random.seed(123456)
dates = pd.date_range('8/1/2014', periods = 10)
s1 = pd.Series(np.random.randn(10), dates)
s1

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [92]:
import yfinance as yf

In [93]:
msft = yf.download('MSFT', '2012-1-1','2013-12-31')
msft.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2012-01-03  26.549999  26.959999  26.389999  26.770000  21.238750  64731500
2012-01-04  26.820000  27.469999  26.780001  27.400000  21.738579  80516100
2012-01-05  27.379999  27.730000  27.290001  27.680000  21.960726  56081400
2012-01-06  27.530001  28.190001  27.530001  28.110001  22.301882  99455500
2012-01-09  28.049999  28.100000  27.719999  27.740000  22.008329  59706800

In [94]:
msft.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2012-01-03  26.549999  26.959999  26.389999  26.770000  21.238750  64731500
2012-01-04  26.820000  27.469999  26.780001  27.400000  21.738579  80516100
2012-01-05  27.379999  27.730000  27.290001  27.680000  21.960726  56081400
2012-01-06  27.530001  28.190001  27.530001  28.110001  22.301882  99455500
2012-01-09  28.049999  28.100000  27.719999  27.740000  22.008329  59706800

Consideriamo la serie formata soltanto dai prezzi di chiusura del titolo.

In [119]:
msftAC = msft['Adj Close']
msftAC.head()

Date
2012-01-03    21.238750
2012-01-04    21.738579
2012-01-05    21.960726
2012-01-06    22.301882
2012-01-09    22.008329
Name: Adj Close, dtype: float64

In [96]:
msft['2012-01-01':'2012-01-10']

                 Open       High        Low      Close  Adj Close    Volume
Date
2012-01-03  26.549999  26.959999  26.389999  26.770000  21.238750  64731500
2012-01-04  26.820000  27.469999  26.780001  27.400000  21.738579  80516100
2012-01-05  27.379999  27.730000  27.290001  27.680000  21.960726  56081400
2012-01-06  27.530001  28.190001  27.530001  28.110001  22.301882  99455500
2012-01-09  28.049999  28.100000  27.719999  27.740000  22.008329  59706800
2012-01-10  27.930000  28.150000  27.750000  27.840000  22.087671  60014400

In [97]:
msft.loc['2012-01-06']

Open         2.753000e+01
High         2.819000e+01
Low          2.753000e+01
Close        2.811000e+01
Adj Close    2.230188e+01
Volume       9.945550e+07
Name: 2012-01-06 00:00:00, dtype: float64

In [98]:
msftAC['2012-01-10'] # questo comando non funzionerebbe su un DataFrame (la stringa verrebbe considerata come il nome di una colonna), ma su una serie funziona (cerca la riga)

22.087671279907227

### Creazione di serie temporali con frequenze specifiche

In [120]:
bymin = pd.Series(np.arange(0, 90*60*24), pd.date_range('2014-08-01',
                                                       '2014-10-29 23:59:00', freq = 'min')) # min sta per 'minute'
bymin

2014-08-01 00:00:00         0
2014-08-01 00:01:00         1
2014-08-01 00:02:00         2
2014-08-01 00:03:00         3
2014-08-01 00:04:00         4
                        ...
2014-10-29 23:55:00    129595
2014-10-29 23:56:00    129596
2014-10-29 23:57:00    129597
2014-10-29 23:58:00    129598
2014-10-29 23:59:00    129599
Freq: min, Length: 129600, dtype: int32

In [100]:
bymin['2014-08-01 12:30':'2014-08-01 12:59']

2014-08-01 12:30:00    750
2014-08-01 12:31:00    751
2014-08-01 12:32:00    752
2014-08-01 12:33:00    753
2014-08-01 12:34:00    754
2014-08-01 12:35:00    755
2014-08-01 12:36:00    756
2014-08-01 12:37:00    757
2014-08-01 12:38:00    758
2014-08-01 12:39:00    759
2014-08-01 12:40:00    760
2014-08-01 12:41:00    761
2014-08-01 12:42:00    762
2014-08-01 12:43:00    763
2014-08-01 12:44:00    764
2014-08-01 12:45:00    765
2014-08-01 12:46:00    766
2014-08-01 12:47:00    767
2014-08-01 12:48:00    768
2014-08-01 12:49:00    769
2014-08-01 12:50:00    770
2014-08-01 12:51:00    771
2014-08-01 12:52:00    772
2014-08-01 12:53:00    773
2014-08-01 12:54:00    774
2014-08-01 12:55:00    775
2014-08-01 12:56:00    776
2014-08-01 12:57:00    777
2014-08-01 12:58:00    778
2014-08-01 12:59:00    779
Freq: min, dtype: int32

In [123]:
aug2014 = pd.Period('2014-08', freq ='M') # M sta per 'month'
aug2014

Period('2014-08', 'M')

In [102]:
aug2014.start_time, aug2014.end_time

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-31 23:59:59.999999999'))

In [103]:
sept2014 = aug2014 + 1
sept2014

Period('2014-09', 'M')

In [104]:
sept2014.start_time, sept2014.end_time

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

Un elenco di periodi può essere espresso tramite l'oggetto PeriodIndex, il quale consente di usare tali periodi per indicizzare una serie. <br>
Nell'esempio seguente, la funzione `period_range()` restituisce un oggetto PeriodIndex con frequenza fissata (in questo caso mensile), che viene poi usato per indicizzare una serie.

In [105]:
mp2013 = pd.period_range('1/1/2013','12/31/2013', freq = "M")
mp2013

PeriodIndex(['2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12'],
            dtype='period[M]')

In [106]:
for p in mp2013:
    print("{0} {1} {2} {3}".format(p, p.freq, p.start_time, p.end_time))

2013-01 <MonthEnd> 2013-01-01 00:00:00 2013-01-31 23:59:59.999999999
2013-02 <MonthEnd> 2013-02-01 00:00:00 2013-02-28 23:59:59.999999999
2013-03 <MonthEnd> 2013-03-01 00:00:00 2013-03-31 23:59:59.999999999
2013-04 <MonthEnd> 2013-04-01 00:00:00 2013-04-30 23:59:59.999999999
2013-05 <MonthEnd> 2013-05-01 00:00:00 2013-05-31 23:59:59.999999999
2013-06 <MonthEnd> 2013-06-01 00:00:00 2013-06-30 23:59:59.999999999
2013-07 <MonthEnd> 2013-07-01 00:00:00 2013-07-31 23:59:59.999999999
2013-08 <MonthEnd> 2013-08-01 00:00:00 2013-08-31 23:59:59.999999999
2013-09 <MonthEnd> 2013-09-01 00:00:00 2013-09-30 23:59:59.999999999
2013-10 <MonthEnd> 2013-10-01 00:00:00 2013-10-31 23:59:59.999999999
2013-11 <MonthEnd> 2013-11-01 00:00:00 2013-11-30 23:59:59.999999999
2013-12 <MonthEnd> 2013-12-01 00:00:00 2013-12-31 23:59:59.999999999

In [107]:
np.random.seed(123456)
ps = pd.Series(np.random.randn(12), mp2013)
ps

2013-01    0.469112
2013-02   -0.282863
2013-03   -1.509059
2013-04   -1.135632
2013-05    1.212112
2013-06   -0.173215
2013-07    0.119209
2013-08   -1.044236
2013-09   -0.861849
2013-10   -2.104569
2013-11   -0.494929
2013-12    1.071804
Freq: M, dtype: float64

### Valori ritardati

Con la funzione `shift()` si può far shiftare (avanti oppure indietro) i valori di una serie per un certo numero di posti che viene passato come argomento. <br>
Nell'esempio viene effettuato uno shift avanti di un posto; in prima posizione il dato è mancante, pertanto viene inserito il valore NaN.

In [108]:
msftAC[:5]

Date
2012-01-03    21.238750
2012-01-04    21.738579
2012-01-05    21.960726
2012-01-06    22.301882
2012-01-09    22.008329
Name: Adj Close, dtype: float64

In [109]:
shifted_forward = msftAC.shift(1)
shifted_forward

Date
2012-01-03          NaN
2012-01-04    21.238750
2012-01-05    21.738579
2012-01-06    21.960726
2012-01-09    22.301882
                ...
2013-12-23    30.930489
2013-12-24    30.779188
2013-12-26    31.165827
2013-12-27    31.468397
2013-12-30    31.342342
Name: Adj Close, Length: 501, dtype: float64

In [110]:
msftAC.tail(5), shifted_forward.tail(5)

(Date
 2013-12-23    30.779188
 2013-12-24    31.165827
 2013-12-26    31.468397
 2013-12-27    31.342342
 2013-12-30    31.342342
 Name: Adj Close, dtype: float64,
 Date
 2013-12-23    30.930489
 2013-12-24    30.779188
 2013-12-26    31.165827
 2013-12-27    31.468397
 2013-12-30    31.342342
 Name: Adj Close, dtype: float64)

Il metodo `shift()` viene spesso utilizzato per calcolare le variazioni percentuali di un indice rispetto a uno o più giorni prededenti.

In [111]:
msftAC/msftAC.shift(1) - 1 # in questo modo si passa da serie dei prezzi a serie dei ritorni

Date
2012-01-03         NaN
2012-01-04    0.023534
2012-01-05    0.010219
2012-01-06    0.015535
2012-01-09   -0.013163
                ...
2013-12-23   -0.004892
2013-12-24    0.012562
2013-12-26    0.009708
2013-12-27   -0.004006
2013-12-30    0.000000
Name: Adj Close, Length: 501, dtype: float64

In [112]:
pd.DataFrame(msftAC)

            Adj Close
Date
2012-01-03  21.238750
2012-01-04  21.738579
2012-01-05  21.960726
2012-01-06  22.301882
2012-01-09  22.008329
...               ...
2013-12-23  30.779188
2013-12-24  31.165827
2013-12-26  31.468397
2013-12-27  31.342342
2013-12-30  31.342342

[501 rows x 1 columns]

Calcolo del ritorno cumulato (lordo).

In [126]:
msft_cum_ret = (msftAC / msftAC.shift(1)).cumprod()
msft_cum_ret
# shift(1) è uguale a shift()

Date
2012-01-03         NaN
2012-01-04    1.023534
2012-01-05    1.033993
2012-01-06    1.050056
2012-01-09    1.036235
                ...
2013-12-23    1.449200
2013-12-24    1.467404
2013-12-26    1.481650
2013-12-27    1.475715
2013-12-30    1.475715
Name: Adj Close, Length: 501, dtype: float64