#### Strategia d'investimento sui componenti dell'indice S&P 100 con back test - Short term reversal
https://www.youtube.com/watch?v=xpP048vfNrg

Strategia "long only" - Compriamo i titoli andati peggio nel mese precedente e li teniamo per 1 mese. I titoli "perdenti" ("loser stocks") sono identificati come quelli il cui rendimento si colloca nel decile peggiore.

Il backtest consiste nel confrontare la performance di questa strategia negli ultimi 12 anni con quella dell'indice S&P 100

In [57]:
import pandas as pd
import numpy as np
from datetime import date, datetime
import datetime as dt
from pandas.tseries.offsets import MonthEnd
import yfinance as yf
import matplotlib.pyplot as plt

Ci procuriamo i ticker dei 100 titoli del S&P100 su Wikipedia

https://en.wikipedia.org/wiki/S%26P_100

In [58]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2]

In [59]:
tickers.head()

  Symbol                 Name                  Sector
0   AAPL                Apple  Information Technology
1   ABBV               AbbVie             Health Care
2    ABT  Abbott Laboratories             Health Care
3    ACN            Accenture  Information Technology
4   ADBE                Adobe  Information Technology

In [60]:
tickers.replace('BRK.B', 'BRK-B', inplace=True)

In [61]:
tickers = tickers.Symbol.to_list()

Scarichiamo i prezzi

In [62]:
tickers

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK-B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DE',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'INTU',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WFC',
 'WMT',
 'XOM']

In [63]:
start = '2014-5-31'
end = datetime.today()

In [64]:
df = yf.download(tickers, start, end)

[*********************100%%**********************]  101 of 101 completed

In [65]:
df

Price        Adj Close                                                  \
Ticker            AAPL        ABBV         ABT         ACN        ADBE
Date
2014-06-02   19.859394   35.876873   32.872192   68.548759   64.639999
2014-06-03   20.140238   36.022633   32.888733   69.054871   64.089996
2014-06-04   20.370214   36.161766   32.830898   70.387550   64.169998
2014-06-05   20.450140   36.638790   33.161285   70.497208   65.470001
2014-06-06   20.393904   36.506279   33.078674   70.455017   66.910004
...                ...         ...         ...         ...         ...
2024-05-16  189.839996  164.350006  104.870003  308.000000  482.880005
2024-05-17  189.869995  166.419998  104.089996  303.589996  483.429993
2024-05-20  191.039993  164.559998  103.209999  305.700012  484.690002
2024-05-21  192.350006  162.929993  102.959999  303.640015  481.850006
2024-05-22  190.899994  159.610001  104.820000  307.109985  483.929993

Price                                                                  ...  \
Ticker            AIG         AMD        AMGN         AMT        AMZN  ...
Date                                                                   ...
2014-06-02  42.968052    3.970000   88.114899   71.144470   15.442000  ...
2014-06-03  43.229362    3.940000   88.621872   71.410088   15.359500  ...
2014-06-04  43.451096    4.040000   90.157928   71.643532   15.339000  ...
2014-06-05  43.514450    4.080000   89.091003   72.223053   16.178499  ...
2014-06-06  43.883518    4.060000   89.151543   72.778404   16.483500  ...
...               ...         ...         ...         ...         ...  ...
2024-05-16  78.739998  162.619995  314.720001  194.940002  183.630005  ...
2024-05-17  80.540001  164.470001  312.470001  194.509995  184.699997  ...
2024-05-20  78.790001  166.330002  314.540009  191.759995  183.539993  ...
2024-05-21  78.680000  164.660004  314.850006  194.130005  183.149994  ...
2024-05-22  78.910004  165.520004  309.410004  191.339996  183.130005  ...

Price        Volume                                                           \
Ticker          TXN      UNH      UNP      UPS       USB         V        VZ
Date
2014-06-02  3379700  1986400  2625600  2914100   4951300   6364000  14364600
2014-06-03  3955200  2841100  2845600  2319200   4222000   9011600  19683700
2014-06-04  3497700  3552900  2354800  2822100   4594200  12589600  12696000
2014-06-05  4038200  3453700  3489200  2514900   4625000   6597600   9855300
2014-06-06  2965800  3286600  4104800  2103700   5222500  10002400  13917800
...             ...      ...      ...      ...       ...       ...       ...
2024-05-16  5371800  3655800  1526000  2298700   9488700  10341500  12913200
2024-05-17  4534200  2657200  2105700  1956700  11360600   6177800  14670400
2024-05-20  5282800  2476200  1130300  1812700   9935500   5460900   8665000
2024-05-21  5489100  2521900  2967600  2750200   6315200   6578200  18327000
2024-05-22  9115200  2299100  2633900  3590200   5800200   4201200  12364900

Price
Ticker           WFC       WMT       XOM
Date
2014-06-02  11828300  13171200   7761300
2014-06-03   9293500  21640800   9384200
2014-06-04  10129200  18599700   7148800
2014-06-05  11862900  14087400  12296100
2014-06-06  13152400  12566700   9340900
...              ...       ...       ...
2024-05-16  21104100  60545600  15745200
2024-05-17  15795800  29330400  15104500
2024-05-20  15029000  15001400  11551300
2024-05-21  18422100  17131700  14495000
2024-05-22  10338800  14874300  17865500

[2512 rows x 606 columns]

In [66]:
prices = df['Adj Close']

In [67]:
prices

Ticker,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-06-02,19.859394,35.876873,32.872192,68.548759,64.639999,42.968052,3.970000,88.114899,71.144470,15.442000,...,35.873734,68.182907,79.933113,75.867332,30.466043,49.775639,30.572226,38.316566,20.799509,64.774971
2014-06-03,20.140238,36.022633,32.888733,69.054871,64.089996,43.229362,3.940000,88.621872,71.410088,15.359500,...,35.873734,68.534706,79.218750,75.393524,30.509382,49.262779,30.107979,38.316566,20.785965,65.066635
2014-06-04,20.370214,36.161766,32.830898,70.387550,64.169998,43.451096,4.040000,90.157928,71.643532,15.339000,...,35.766853,69.075249,79.395317,75.058197,30.596052,49.288422,30.022465,38.279064,20.899771,64.839798
2014-06-05,20.450140,36.638790,33.161285,70.497208,65.470001,43.514450,4.080000,89.091003,72.223053,16.178499,...,36.186737,68.466057,80.402687,75.532036,30.689951,49.472588,30.101875,38.721546,20.951252,65.170349
2014-06-06,20.393904,36.506279,33.078674,70.455017,66.910004,43.883518,4.060000,89.151543,72.778404,16.483500,...,36.263081,68.577591,81.012665,75.510178,30.971642,49.654411,30.187391,38.984043,20.921444,65.850868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-16,189.839996,164.350006,104.870003,308.000000,482.880005,78.739998,162.619995,314.720001,194.940002,183.630005,...,194.970001,521.270020,245.899994,149.660004,41.650002,279.839996,40.250000,61.060001,64.010002,117.870003
2024-05-17,189.869995,166.419998,104.089996,303.589996,483.429993,80.540001,164.470001,312.470001,194.509995,184.699997,...,195.020004,524.630005,244.970001,149.240005,41.430000,280.100006,40.060001,61.080002,64.650002,119.639999
2024-05-20,191.039993,164.559998,103.209999,305.700012,484.690002,78.790001,166.330002,314.540009,191.759995,183.539993,...,199.199997,517.229980,243.630005,147.589996,40.889999,278.540009,40.119999,60.700001,64.180000,118.669998
2024-05-21,192.350006,162.929993,102.959999,303.640015,481.850006,78.680000,164.660004,314.850006,194.130005,183.149994,...,199.009995,523.549988,234.960007,145.419998,41.180000,275.950012,39.619999,61.459999,65.150002,117.849998
2024-05-22,190.899994,159.610001,104.820000,307.109985,483.929993,78.910004,165.520004,309.410004,191.339996,183.130005,...,202.539993,521.349976,234.710007,143.770004,40.770000,275.579987,39.790001,60.930000,65.250000,115.480003

In [68]:
mtl_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [69]:
mtl_ret

Ticker,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-06-30,0.034773,0.042290,0.027639,-0.005290,0.119431,0.008191,0.055416,0.016488,0.021926,0.051612,...,0.017025,0.033525,0.006138,-0.013643,0.032863,-0.013160,-0.022378,0.028773,-0.022017,0.007405
2014-07-31,0.028731,-0.065609,0.035352,-0.019298,-0.042980,-0.047637,-0.066826,0.076202,0.049011,-0.036302,...,-0.026053,-0.008563,-0.014436,-0.054257,-0.029778,0.001423,0.041548,-0.031583,-0.019848,-0.017283
2014-08-31,0.077509,0.056171,0.002849,0.022452,0.038267,0.078492,0.066496,0.099388,0.044603,0.083229,...,0.041730,0.069463,0.075892,0.009473,0.005948,0.009076,-0.011900,0.017676,0.032854,0.012259
2014-09-30,-0.017073,0.044863,-0.015389,0.003207,-0.037691,-0.034207,-0.182254,0.007749,-0.046827,-0.048962,...,-0.010170,-0.000729,0.029923,0.009863,-0.004820,0.004000,0.003412,0.008359,0.012847,-0.054394
2014-10-31,0.071960,0.106880,0.053657,0.011080,0.013441,-0.008330,-0.178886,0.154635,0.041333,-0.052661,...,0.048660,0.101565,0.074064,0.067351,0.018408,0.131509,0.016454,0.023520,-0.002615,0.028283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,-0.042227,0.070986,0.032948,0.040748,0.035501,0.025978,0.137575,0.091105,-0.093710,0.021456,...,-0.053247,-0.027979,-0.006881,-0.097500,-0.040203,0.049587,0.142285,0.019504,0.048208,0.028306
2024-02-29,-0.018543,0.070864,0.048520,0.029955,-0.093075,0.048626,0.148130,-0.121840,0.016407,0.138918,...,0.045029,-0.035448,0.045377,0.056537,0.010111,0.036255,-0.055018,0.115593,0.064024,0.026081
2024-03-31,-0.051286,0.034365,-0.041976,-0.075164,-0.099379,0.077549,-0.062536,0.038308,-0.006386,0.020480,...,0.041116,0.006179,-0.030589,0.002496,0.077428,-0.012596,0.048476,0.042634,0.030113,0.112132
2024-04-30,-0.006706,-0.098523,-0.063034,-0.128487,-0.082778,-0.036587,-0.122500,-0.036508,-0.123938,-0.029826,...,0.012686,-0.022236,-0.035661,-0.007737,-0.091051,-0.037516,-0.043625,0.023464,-0.013628,0.017464
2024-05-31,0.122286,-0.018630,-0.010852,0.020604,0.045589,0.047802,0.045081,0.137503,0.115295,0.046457,...,0.156330,0.077837,-0.010331,-0.014304,0.003446,0.027847,0.007597,0.033046,0.103216,-0.015659

In [70]:
mtl_ret.describe()

Ticker,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,...,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,0.022188,0.015229,0.011374,0.014626,0.020158,0.008843,0.044452,0.012927,0.010228,0.024696,...,0.016585,0.018634,0.011204,0.008135,0.005211,0.016026,0.003498,0.007178,0.010968,0.007840
std,0.080215,0.074451,0.058177,0.064226,0.080464,0.083569,0.164056,0.070223,0.062715,0.089563,...,0.064797,0.056461,0.066874,0.075461,0.074091,0.058307,0.051314,0.080857,0.052943,0.078472
min,-0.181197,-0.182854,-0.151885,-0.144864,-0.263068,-0.417549,-0.410489,-0.153768,-0.154891,-0.237525,...,-0.130742,-0.114586,-0.142454,-0.172992,-0.249369,-0.116491,-0.117070,-0.297430,-0.156170,-0.261858
25%,-0.034077,-0.024430,-0.023472,-0.026264,-0.035762,-0.030242,-0.067776,-0.037350,-0.027894,-0.035891,...,-0.026291,-0.022463,-0.027821,-0.038904,-0.036380,-0.025610,-0.028235,-0.032740,-0.020632,-0.037493
50%,0.025818,0.013118,0.010667,0.024794,0.027429,0.012258,0.016854,0.012860,0.009369,0.025795,...,0.014797,0.017223,0.010431,0.009624,0.008386,0.021024,0.002189,0.013937,0.010184,0.005803
75%,0.079018,0.058280,0.046457,0.053400,0.069558,0.048899,0.169866,0.053984,0.051961,0.076734,...,0.057519,0.054815,0.058174,0.051143,0.047124,0.052423,0.039141,0.047502,0.042820,0.043777
max,0.216569,0.228907,0.171940,0.159905,0.189597,0.220705,0.471773,0.199423,0.171671,0.270596,...,0.171938,0.178456,0.231570,0.284044,0.200969,0.166113,0.142285,0.280913,0.147765,0.269156

In [71]:
formation = dt.datetime(2014,7,31)

In [72]:
formation

datetime.datetime(2014, 7, 31, 0, 0)

In [73]:
ret_1 = mtl_ret.loc[formation - MonthEnd(1)]

In [74]:
ret_1

Ticker
AAPL    0.034773
ABBV    0.042290
ABT     0.027639
ACN    -0.005290
ADBE    0.119431
          ...
V      -0.013160
VZ     -0.022378
WFC     0.028773
WMT    -0.022017
XOM     0.007405
Name: 2014-06-30 00:00:00, Length: 101, dtype: float64

In [75]:
ret_1.name = 'mtl_ret'

In [76]:
ret_1 = pd.DataFrame(ret_1)

In [77]:
ret_1

         mtl_ret
Ticker
AAPL    0.034773
ABBV    0.042290
ABT     0.027639
ACN    -0.005290
ADBE    0.119431
...          ...
V      -0.013160
VZ     -0.022378
WFC     0.028773
WMT    -0.022017
XOM     0.007405

[101 rows x 1 columns]

In [78]:
ret_1['decile'] = pd.qcut(ret_1.mtl_ret,10,labels=False)

In [79]:
ret_1

         mtl_ret  decile
Ticker
AAPL    0.034773       6
ABBV    0.042290       7
ABT     0.027639       6
ACN    -0.005290       2
ADBE    0.119431       9
...          ...     ...
V      -0.013160       1
VZ     -0.022378       0
WFC     0.028773       6
WMT    -0.022017       0
XOM     0.007405       4

[101 rows x 2 columns]

In [80]:
losers = ret_1[ret_1.decile == 0].index

In [81]:
losers

Index(['BA', 'BKNG', 'CVS', 'IBM', 'MA', 'ORCL', 'PG', 'PM', 'TMUS', 'VZ',
       'WMT'],
      dtype='object', name='Ticker')

In [82]:
losret = mtl_ret.loc[formation, mtl_ret.columns.isin(losers)].mean()

Questo rendimento è il peggiore di tutto il campione. Se andiamo un mese avanti le cose migliorano

In [83]:
losret

0.002720051620922481

Simuliamo la strategia in tutto il periodo

In [86]:
def reversal(formation):
    ret_1 = mtl_ret.loc[formation - MonthEnd(1)]
    ret_1.name = 'mtl_ret'
    ret_1 = pd.DataFrame(ret_1)
    ret_1['decile'] = pd.qcut(ret_1.mtl_ret, 10, labels=False,duplicates = 'drop')
    losers = ret_1[ret_1.decile == 0].index
    losret = mtl_ret.loc[formation, mtl_ret.columns.isin(losers)].mean()
    return losret

In [87]:
reversal(formation)

0.002720051620922481

In [88]:
returns = []
dates = []

for i in mtl_ret.index[2:]:
    returns.append(reversal(i))
    dates.append(i)

In [89]:
returns

[0.06708171179941974,
 -0.005856625461614998,
 -0.026012607963601185,
 0.0194741488379483,
 -0.008965846932825034,
 0.006928387459538317,
 0.09202501549772296,
 -0.011235925810383731,
 0.07306750129060202,
 0.04689733497145809,
 -0.03466168161002878,
 -0.02045386481844373,
 -0.043792522000824036,
 -0.04869402196764738,
 0.09709804624530306,
 0.0034392604778533172,
 0.018850210753702655,
 -0.09192544096597426,
 -0.0011312583985168898,
 0.07566417715205276,
 0.04593153683218743,
 0.04672704673193782,
 0.0034482539999798234,
 0.06292477224990106,
 0.008723898917452925,
 -0.009186622243985658,
 -0.0015673375295664129,
 0.041228632709681974,
 0.037352989268333706,
 0.020982817708130375,
 0.06038336735457541,
 0.004359538617160702,
 0.0014711993127097306,
 0.004736094026763318,
 0.03778473398462851,
 0.0351081105957459,
 0.010357862619029793,
 0.030969679493446037,
 0.015648723597023496,
 0.013596538663245466,
 -0.006568279228593024,
 0.05012217394712007,
 -0.052040798325729984,
 -0.05042447729950432,
 0.01556780528347926,
 0.02045807872401697,
 0.03252534266597635,
 0.043012051172852186,
 0.010832440951219692,
 -0.0028839133732461468,
 -0.006871927292067698,
 0.04896296501325486,
 -0.08421911008391941,
 0.10884157957471134,
 0.03728169912211552,
 0.0228505714423334,
 0.02805171978403398,
 -0.07799384963960826,
 0.12724129408325255,
 0.03323238981324567,
 -0.007616227126512342,
 0.07958393223023101,
 0.052759532780680705,
 0.025032693158585674,
 0.03912907482124542,
 -0.03528332210163783,
 -0.09604705190168636,
 -0.2327754525964015,
 0.1296516685422396,
 0.02169045481442516,
 0.02918409401476276,
 0.07063853302427965,
 0.032577002761448454,
 -0.02490818733022622,
 -0.01863264810632784,
 0.19801844089901258,
 0.017415168208177175,
 0.02714238485427052,
 0.06710330631975236,
 0.043073516577375674,
 0.04423559040351468,
 0.06879886400606704,
 0.018880354215444227,
 -0.011300301314876905,
 0.0007792415109112237,
 -0.007431278199437411,
 0.05969238916680466,
 -0.041364825762794426,
 0.059316240262208005,
 -0.09618846048608773,
 -0.046023739368207944,
 0.006497573111804807,
 -0.13297907848556864,
 0.018872008898833892,
 -0.03452449126404271,
 0.14742387143158517,
 -0.02886824585997068,
 -0.15314624371519978,
 0.1340225655897571,
 0.06667154762747284,
 -0.11058678099647871,
 0.2116595887830303,
 -0.035084521283343606,
 0.09844437027063518,
 0.018369382793721842,
 0.025264136802013528,
 0.06278299496702557,
 0.05168635828181463,
 0.005128823071336653,
 -0.030475694724027537,
 0.012178701289883409,
 0.0840124708647657,
 0.03909307555672937,
 0.006197087996915207,
 0.036850816973654686,
 0.04119214101427178,
 -0.049557870554089625,
 0.023851270419439696]

In [90]:
frame =  pd.DataFrame({'dates': dates, 'returns':returns})

In [91]:
frame

         dates   returns
0   2014-08-31  0.067082
1   2014-09-30 -0.005857
2   2014-10-31 -0.026013
3   2014-11-30  0.019474
4   2014-12-31 -0.008966
..         ...       ...
113 2024-01-31  0.006197
114 2024-02-29  0.036851
115 2024-03-31  0.041192
116 2024-04-30 -0.049558
117 2024-05-31  0.023851

[118 rows x 2 columns]

In [92]:
frame.returns.mean()

0.01660052914354471

Confrontiamo la strategia con il rendimento del benchmark

In [93]:
start = '2014-5-31'
end = datetime.today()
df2 = yf.download('^OEX', start, end)['Adj Close']

[*********************100%%**********************]  1 of 1 completed

In [94]:
df2

Date
2014-06-02     852.380005
2014-06-03     851.859985
2014-06-04     853.109985
2014-06-05     858.859985
2014-06-06     862.320007
                 ...
2024-05-16    2520.310059
2024-05-17    2522.629883
2024-05-20    2525.709961
2024-05-21    2535.719971
2024-05-22    2527.840088
Name: Adj Close, Length: 2512, dtype: float64

In [95]:
bench_ret = df2.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [96]:
bench_ret

Date
2014-06-30    0.015357
2014-07-31   -0.007661
2014-08-31    0.035210
2014-09-30   -0.008807
2014-10-31    0.016499
                ...
2024-01-31    0.023379
2024-02-29    0.054534
2024-03-31    0.027175
2024-04-30   -0.037489
2024-05-31    0.059482
Freq: M, Name: Adj Close, Length: 120, dtype: float64

In [97]:
frame['S&P100 ret'] = bench_ret[2:].values

In [98]:
frame

         dates   returns  S&P100 ret
0   2014-08-31  0.067082    0.035210
1   2014-09-30 -0.005857   -0.008807
2   2014-10-31 -0.026013    0.016499
3   2014-11-30  0.019474    0.022829
4   2014-12-31 -0.008966   -0.008579
..         ...       ...         ...
113 2024-01-31  0.006197    0.023379
114 2024-02-29  0.036851    0.054534
115 2024-03-31  0.041192    0.027175
116 2024-04-30 -0.049558   -0.037489
117 2024-05-31  0.023851    0.059482

[118 rows x 3 columns]

In [99]:
frame.describe()

                               dates     returns  S&P100 ret
count                            118  118.000000  118.000000
mean   2019-07-16 05:53:53.898305024    0.016601    0.010182
min              2014-08-31 00:00:00   -0.232775   -0.103403
25%              2017-02-07 00:00:00   -0.008628   -0.014884
50%              2019-07-15 12:00:00    0.018876    0.015492
75%              2021-12-23 06:00:00    0.046528    0.036385
max              2024-05-31 00:00:00    0.211660    0.126773
std                              NaN    0.062167    0.044662

Calcoliamo i rendimenti composti

In [100]:
stra_adj_ret = frame.returns.mean() - 0.5*(frame.returns.std())**2
stra_adj_ret

0.014668159003663684

In [101]:
sp100_adj_ret = frame['S&P100 ret'].mean() - 0.5*(frame['S&P100 ret'].std())**2
sp100_adj_ret

0.009184726774523937

Calcoliamo quante volte la strategia batte il benchmark

In [102]:
ok = frame[frame.returns > frame['S&P100 ret']].shape[0]
ok

70

In [103]:
tutti = frame.shape[0]
tutti

118

In [104]:
hit_ratio = ok/tutti
hit_ratio

0.5932203389830508